<template>
	<v-container fluid>
		<v-layout row wrap>
			<v-flex xs12 mb-3>
			    <v-card>
			    	<v-card-title>
			    	   <v-text-field
			               v-model="search"
			               label="Busqueda"
			               append-icon="search"
			               single-line
			               hide-details
			            ></v-text-field>
			    	</v-card-title>
			    	<v-data-table
			            :disable-initial-sort="disable_initial_sort"
			            :rows-per-page-text="rows_per_page_text"
			            :rows-per-page-items="rows_per_page_items"
			            :headers="headers"
			            :items="audit_control"
			            :search="search"
			        >
				        <template slot="items" slot-scope="props">
				        	<td>
				        	    <v-chip
				        	      v-if=" props.item.result == 'Sastifecho'"
				        	      color="primary"
				        	      text-color="white">
							      {{ props.item.control_num }}
							    </v-chip>
							    <v-chip
				        	      v-else-if=" props.item.result == 'Parcialmente sastifecho'"
				        	      color="warning"
				        	      text-color="white">
							      {{ props.item.control_num }}
							    </v-chip>
							    <v-chip
				        	      v-else-if=" props.item.result == 'No sastifecho'"
				        	      color="error"
				        	      text-color="white">
							      {{ props.item.control_num }}
							    </v-chip>
							    <v-chip
				        	      v-else
				        	      color="info"
				        	      text-color="white">
							      {{ props.item.control_num }}
							    </v-chip>
				            </td>
				            <td> {{ props.item.control }}</td>
				        	<td>
				                <v-menu bottom left>
				                  <v-btn icon class="mx-0" slot="activator">
				                    <v-icon color="teal">more_vert</v-icon>
				                  </v-btn>
				                  <v-list>
				                    <v-list-tile @click="select_control(props.item.myindex, props.item._id)">
				                      <v-list-tile-title>Seleccionar</v-list-tile-title>
				                    </v-list-tile>
				                    <v-list-tile @click="delete_control_audit(props.item._id)">
				                      <v-list-tile-title>Eliminar</v-list-tile-title>
				                    </v-list-tile>
				                  </v-list>
				                </v-menu>
				            </td>

				        </template>
			        </v-data-table>
			    </v-card>
			</v-flex>
			<v-flex mt-5>
				<v-btn
				  @click="add_new_control"
	              color="primary"
	              dark
	              bottom
	              right
	              fab
	              fixed
	            >
	              <v-icon>add</v-icon>
	            </v-btn>
			</v-flex>
			<!-- Dialogo de editar y guardar -->
			<v-dialog
			  v-model="dialog_one" fullscreen hide-overlay
			  transition="dialog-bottom-transition"
			>

			 <v-card v-if="dialog_one == true">
			  	<v-toolbar dark color="primary">
			  	    <v-btn icon v-if="mode_dialog == 'list'" dark @click.native="dialog_one = false">
                      <v-icon>close</v-icon>
                    </v-btn>
                    <v-btn icon v-if="mode_dialog == 'edit'" dark @click="edit_back()">
                      <v-icon>keyboard_arrow_left</v-icon>
                    </v-btn>
                    <v-toolbar-title >Auditoria</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-toolbar-items>
			           <v-btn v-if="mode_dialog == 'list'" dark flat @click="edit_control_audit"t>Editar</v-btn>
			           <v-btn v-else-if="mode_dialog == 'edit'" @click="save_control__audit" dark flat >Guardar</v-btn>
			        </v-toolbar-items>
			  	</v-toolbar>
                <v-progress-linear :indeterminate="true" v-if="sending_payload == true"></v-progress-linear>
                 <v-alert v-if="resp_msg_created == 'Created'" :value="true" type="info">
                   Registro modificado correctamente.
                </v-alert>
                <v-alert  v-else-if="resp_msg_created == 'Error'" :value="true" type="error">
			      Error en la solicitud.
			    </v-alert>
			  	<v-flex v-if="mode_dialog == 'list'" xs10 offset-xs1 mt-4 mb-1>
                    <v-card-title primary-title>
                    	<div>

                    	  <h3 class="headline mb-1">{{ info_audit[0].control_num }} {{ info_audit[0].control  }}
                    	  </h3>
                          <div>
                          	 <v-chip v-if="info_audit[0].result == 'Sastifecho' " small color="primary" text-color="white">Sastifecho</v-chip>

                          	 <v-chip v-else-if="info_audit[0].result == 'Parcialmente sastifecho' " small color="warning" text-color="white">Parcialmente sastifecho</v-chip>

                          	 <v-chip v-else-if="info_audit[0].result == 'No sastifecho' " small color="error" text-color="white">No sastifecho</v-chip>

                          	 <v-chip v-else small color="info" text-color="white">No auditado</v-chip>


                          </div>
                        </div>

                    </v-card-title>
                    <v-card-title>
                      <div>
                      	<h4 class="mb-3">
                      		Información tecnica adicional
                      	    <v-divider></v-divider>
                      	</h4>

                      	<div>
                      		{{ info_audit[0].additional_tec_inf }}
                      	</div>
                      </div>
                    </v-card-title>
                    <v-card-title>
                      <div>
                      	<h4 class="mb-3">
                      		Estándar de implementación de seguridad
                      		<v-divider></v-divider>
                      	</h4>

                      	<div>
                      		{{ info_audit[0].security_impl_stand}}
                      	</div>
                      </div>
                    </v-card-title>
                    <v-card-title>
                      <div>
                      	<h4 class="mb-3">
                      		Guía Práctica
                      		<v-divider></v-divider>
                      	</h4>

                      	<div v-for="(item, id) in info_audit[0].practiceGuide">
                      		- {{ item }}
                      	</div>
                      </div>
                    </v-card-title>
                    <v-card-title>
                      <div>
                      	<h4 class="mb-3">
                      		Evidencia suministrada
                      		<v-divider></v-divider>
                      	</h4>
                      	<div v-for="(item, key ) in info_audit[0].Evidence_assu">
                      		- {{ item  }}
                      	</div>
                      </div>
                    </v-card-title>
                    <v-card-title>
                      <div>
                      	<h4 class="mb-3">
                      		Método
                      		<v-divider></v-divider>
                      	</h4>
                      	<div v-for="(item, key ) in info_audit[0].method">
                      		- {{ item  }}
                      	</div>
                      </div>
                    </v-card-title>
                    <v-card-title>
                      <div>
                      	<h4 class="mb-3">
                      		Comentarios
                      		<v-divider></v-divider>
                      	</h4>
                      	<div>
                      		{{ info_audit[0].Comentarios }}
                      	</div>
                      </div>
                    </v-card-title>
			  	</v-flex>
			  	<v-flex xs10 offset-xs1 mt-4 v-else-if="mode_dialog == 'edit'">

			  		<v-form>
			  			<h4 > {{ info_audit[0].control_num }} {{ info_audit[0].control  }} </h4>
			  			<v-select
			  			  chips
				          :items="resultados"
				          v-model="info_audit[0].result"
				          label="Resultado"
				          single-line
				        ></v-select>
				        <v-text-field
					       textarea
					       label="Comentarios"
					       append-icon="comment"
                           v-model="info_audit[0].Comentarios"></v-text-field>
                        <v-text-field
                         name="tec_inf"
                         v-model="info_audit[0].additional_tec_inf"
                         label="Información técnica adicional"
                         value="info_audit[0].additional_tec_inf"
                         multi-line
                        >
                        </v-text-field>
                        <v-text-field
                         name="sec_impl_sta"
                         v-model="info_audit[0].security_impl_stand"
                         label="Estándar de implementación de seguridad"
                         value="info_audit[0].security_impl_stand"
                         multi-line
                        >
                        </v-text-field>
                        <v-text-field
                          multi-line
                          v-model="add_new_practice_guide"
                          label="Nueva guía práctica"
                          append-icon="add"
					      :append-icon-cb="() => (adding_new_practice_guide())"
                        >
                        </v-text-field>
                        <v-divider></v-divider>
                        <v-layout align-center v-for="(item, key ) in info_audit[0].practiceGuide" :key="key+'gupa'">
					      <v-text-field
					       label="Guia Práctica"
					       textarea
					       append-icon="delete"
					       :append-icon-cb="() => (eliminated_practi_guide(key))"
                           v-model="new_practice_guide[key]"></v-text-field>
					    </v-layout align-center>
					    <!-- Evidencia suministrada-->
					    <v-text-field
                          v-model="add_new_evidence_assumed"
                          label="Nueva evidencia"
                          append-icon="add"
					      :append-icon-cb="() => (adding_evidence_assumed())"
                        >
                        </v-text-field>
                        <v-layout align-center v-for="(myitem, mykey ) in info_audit[0].Evidence_assu" :key="mykey + 'evm'">
					      <v-text-field
					       label="Evidencia suministrada"
					       append-icon="delete"
					       :append-icon-cb="() => (eliminated_evidence_assumed(mykey))"
                           v-model="new_evidence_assumed[mykey]"></v-text-field>
					    </v-layout align-center>
					    <v-select
					        :items="metodos"
					        v-model="info_audit[0].method"
					        label="Metodos de auditoría"
					        multiple
					        max-height="400"
					        chips
					        persistent-hint
					     ></v-select>

			  		</v-form>
			  	</v-flex>
			 </v-card>
			  <v-btn
				  @click="next_desciptio_control"
	              color="teal darken-1"
	              dark
	              bottom
	              right
	              fab
	              fixed
	              small
	            >
	              <v-icon>arrow_forward</v-icon>
	            </v-btn>
	             <v-btn
				  @click="back_desciptio_control"
	              color="teal darken-1
"
	              dark
	              bottom
	              left
	              fab
	              fixed
	              small
	            >
	              <v-icon>arrow_back</v-icon>
	            </v-btn>
			</v-dialog>
			<!-- Nuevo dialog add aduit-->
			<v-dialog
			  max-width="500"
			  v-model="dialog_new_model"
			  transition="dialog-transition"
			>
			  <v-card>
			  	    <v-flex xs12 ml-3 mr-3>

					  	<v-select
					        :items="list_control_to_add"
					        item-text="name_select"
						    v-model="new_controls_seleted"
						    label="Nuevo control"
						    autocomplete
						    multiple
                            chips
			            >
			            </v-select>

			  	    </v-flex>
			  	    <v-flex offset-xl10 offset-xs10 xl2 xs2>
                       <v-btn
			            fab
			            small
			            color="primary"
			            bottom
			            right
			            dark
			           @click="adding_news_controls"
			          >
			            <v-icon>save</v-icon>
			          </v-btn>
                    </v-flex>
			  </v-card>
			</v-dialog>
		</v-layout>
	</v-container>

</template>
<script>
  import axios from 'axios'


  const SERVER = '172.19.0.14'
  const PORT = '8081'
  const PROTOCOL = 'http'

  export default {
  	data () {
  		return {
  			/* tabla */
  		  	list_control: [],
  			  audit_control: [],
  		   	audit_control_num: [],
  			  search: '',
  			  disable_initial_sort: true,
	        rows_per_page_text: "Columnas por página",
	        rows_per_page_items: [25, 30, 35, {"text":"Todos","value":-1}],
	        headers: [
	          { text: 'Control', value: 'control_num' },
	          { text: 'Nombre', value: 'control' },
	          { text: 'Acciones', value: 'index' },

	        ],
	        /* description */
	        info_index_descript: '', // se utiliza para hacer funcionar el boton de siguiente y atras en la descripción del control
	        dialog_one: false,
	        info_audit: [],
	        mode_dialog: 'list',
	        new_practice_guide: [],
	        add_new_practice_guide: '',
	        /* Evidencia suministrada */
	        new_evidence_assumed: [],
	        add_new_evidence_assumed: '',
	        metodos: [
                'Revisión',
                'Examinación',
                'Entrevista'
	        ],
	        /* audit resultados*/
	        resultados: [
                'Sastifecho',
                'Parcialmente sastifecho',
                'No sastifecho',
                'No auditado'
	        ],
	        sending_payload: false,
	        resp_msg_created: '',
	        /* nuevo control auditado */
	        dialog_new_model: false,
	        list_control_to_add: [],
	        new_controls_seleted: []

  		}
  	},
  	methods: {
  		select_control (index, id) {
  			this.info_audit = []
            this.info_index_descript = index
            this.info_audit.push(this.audit_control[index])
            this.dialog_one = true

  		},
  		edit_control_audit () {
  			this.mode_dialog = 'edit'
  			this.new_practice_guide = this.info_audit[0].practiceGuide
  			this.new_evidence_assumed = this.info_audit[0].Evidence_assu
  		},

  		eliminated_practi_guide ( key ) {
               this.new_practice_guide.splice(key, 1)
  		},
  		adding_new_practice_guide () {

  			if (this.add_new_practice_guide.length != 0) {
  				this.new_practice_guide.push(this.add_new_practice_guide)
  				this.add_new_practice_guide = ''
  			}
  		},
  		eliminated_evidence_assumed ( mykey ) {
               this.new_evidence_assumed.splice(mykey, 1)
  		},
  		adding_evidence_assumed () {

  			if (this.add_new_evidence_assumed.length != 0) {
  				this.new_evidence_assumed.push(this.add_new_evidence_assumed)
  				this.add_new_evidence_assumed = ''
  			}
  		},
  		save_control__audit () {
            this.sending_payload = true
  			this.info_audit[0].practiceGuide = this.new_practice_guide  // sustituimos las nuevas guías practicas
  			this.info_audit[0].Evidence_assu = this.new_evidence_assumed // sustituimos las nuevas evidencias
  			let payload = this.info_audit[0]
  			const jwt = Cookies.get('token')
  			axios({
  				url:`${PROTOCOL}://${SERVER}:${PORT}/audit`,
  				method: 'post',
  				data: payload,
  				headers: {
			        'jwt': jwt,
			        'Content-Type': 'application/json'
			    }
  		    }).then((resp) => {
                 this.resp_msg_created = resp.data['msg']
                 this.sending_payload = false
  			}).catch( (err) => {

  			})

  		},
  		edit_back () {
            this.mode_dialog = 'list'
            this.resp_msg_created = ''
            this.sending_payload = false
  		},
  		add_new_control () {

            const jwt = Cookies.get('token')
            axios({
            	url:`${PROTOCOL}://${SERVER}:${PORT}/normative`,
            	method: 'get',
            	headers: {
			        'jwt': jwt,
			        'Content-Type': 'application/json'
			    }
            })
            .then( (resp) => {
                let mydata = resp.data
                for ( let fir_control in mydata[0]['controls']) {

                    for ( let sec_control in mydata[0]['controls'][fir_control]['controls'] ) {

                        for (let third in mydata[0]['controls'][fir_control]['controls'][sec_control]['controls']) {

                            let mycontrol_fin = mydata[0]['controls'][fir_control]['controls'][sec_control]['controls'][third]
                            let search = this.audit_control_num.indexOf(mycontrol_fin.control_num)

                            if (search == -1 ) {
                                this.list_control_to_add.push(
                               	   `${mycontrol_fin.control_num}-${mycontrol_fin.control}`
                               	)
                            }
                        }
                    }
                }
                this.dialog_new_model = true
            }).catch( (err) => {

            })
  		},
  		adding_news_controls () {


	        for ( let newControls in this.new_controls_seleted ) {
	        	let newControl = this.new_controls_seleted[newControls]
	        	let newControlsplit = newControl.split("-")
	        	var mypayload = {
				    "control": newControlsplit[1],
				    "control_num": newControlsplit[0],
				    "result": "",
				    "additional_tec_inf": "",
				    "security_impl_stand": "",
				    "practiceGuide": [
				        "",
				    ],
				    "Evidence_assu": [
				        ""
				    ],
				    "method": [
				       "",
				       ""
				    ],
				    "Comentarios": "",

				}
				const jwt = Cookies.get('token')
	        	axios({
	        	   url:`${PROTOCOL}://${SERVER}:${PORT}/create`,
	        	   data : mypayload,
	        	   method: 'post',
	        	   headers: {
			        'jwt': jwt,
			        'Content-Type': 'application/json'
			        }
	        	}).then( (resp) => {
                    if (resp.data.msg == 'Created') {
                    	this.list_control_to_add = []
                    	location.reload()
                    }
		        }).catch( (err) => {

		        })
	        }
  	    },
  	    delete_control_audit (id) {
  	    	const jwt = Cookies.get('token')
            axios({
  			url:`${PROTOCOL}://${SERVER}:${PORT}/delete/audit`,
	  			method: 'post',
	  			data: {
	  			   '_id': id,
	  			},
	  			headers: {
			        'jwt': jwt,
			        'Content-Type': 'application/json'
			    }
  		    }).then( (resp) => {
                   if ( resp.data.msg == 'Deleted') {
                   	  location.reload()
                   }
		    }).catch( (err) => {

		    })


  	    },
  	    back_desciptio_control () {
            var index_back = this.info_index_descript - 1

  	    	if ( index_back != -1) {
	  	    	this.info_audit = []
	            this.info_index_descript = index_back
	            this.info_audit.push(this.audit_control[index_back])
  	    	}


  	    },
  	    next_desciptio_control () {
            var index_next = this.info_index_descript + 1

  	    	if ( index_next != this.audit_control.length) {
	  	    	this.info_audit = []
	            this.info_index_descript = index_next
	            this.info_audit.push(this.audit_control[index_next])
  	    	}


  	    },

  	},
  	created () {
  		function getCookie(cname) {
		    var name = cname + "=";
		    var decodedCookie = decodeURIComponent(document.cookie);
		    var ca = decodedCookie.split(';');
		    for(var i = 0; i <ca.length; i++) {
		        var c = ca[i];
		        while (c.charAt(0) == ' ') {
		            c = c.substring(1);
		        }
		        if (c.indexOf(name) == 0) {
		            return c.substring(name.length, c.length);
		        }
		    }
		    return "";
		  }
  		const jwt = getCookie('token')
  		axios({
  			url:`${PROTOCOL}://${SERVER}:${PORT}/audit`,
  			method: 'get',
  			headers: {
		        'jwt': jwt,
		        'Content-Type': 'application/json'
		    }
  		})
	  	.then( (resp) => {
            for (let [i, myaudit] of resp.data.entries() ){
							 myaudit['myindex'] = i
               this.audit_control.push(myaudit)
               this.audit_control_num.push(myaudit.control_num)
            }
	  	}).catch( (err) => {
		  	console.log(err)
		  })
  	}
  }
</script>
