<template>
	<v-container>
	  <v-layout row wrap>
	    <v-flex xl4 offset-xl4 xs12 mt-5>
	      <v-card>
	      	<v-card-media
	      	  contain
	      	  height="200px"
	      	  src="/static/img/login.png"
	      	>
	      	</v-card-media>
	      	<v-flex ml-3 mr-3>
		        <v-form >
		        	<v-text-field
		        	   prepend-icon="person"
	                   v-model="user"
	                   label="Usuario"
		        	>
		        	</v-text-field>
		        	<v-text-field
                       prepend-icon="lock"
		        	   type="password"
	                   v-model="pass"
	                   label="Contraseña"
		        	>
		        	</v-text-field>
		        </v-form>
		    </v-flex>
		    <v-flex>
		      <div>
		      	<v-btn block color="primary" dark @click="get_token">Iniciar sesión</v-btn>
		      </div>
		    </v-flex>
		    <v-flex>
		    </v-flex>
	      </v-card>
	    </v-flex>
	  </v-layout>
	</v-container>
</template>
<script>
import axios from 'axios'

const SERVER = '172.19.0.14'
const PORT = '8081'
const PROTOCOL = 'http'

export default {
	data () {
		return {
			user: '',
			pass: ''
		}
	},
	methods: {
		go_to_main () {
			 this.$router.push('/audit')
		},
		get_token () {
			axios.post(`${PROTOCOL}://${SERVER}:${PORT}/login`, {
				username: this.user,
				password: this.pass
			}).then( (resp) => {
                if (resp.status == 200) {
                	 const token = resp.data['token']
                   Cookies.set('token', token, {expires: 1})
                   window.location.href = '/audit'
                }else {
                	console.log('erro')
                }

			}).catch( (err) => {
               console.log(err)
			})
		}
	}
}
</script>
