<template>  
  <v-container fluid>
    <v-layout row wrap>
      <v-flex xs12 mt-2 mb-2>
        <div >
          <v-btn  color="primary">Nuevo</v-btn>
          <v-btn  color="primary">Importar</v-btn>
        </div>
      </v-flex>
      <v-flex xs12>
        <v-card>
          <v-card-title>
            <v-text-field
             v-model="search"
             label="Busqueda"
             append-icon="search"
             single-line
             hide-details
            >            
            </v-text-field>
          </v-card-title>  
          <v-data-table
              :disable-initial-sort="disable_initial_sort"
              :rows-per-page-text="rows_per_page_text"
              :rows-per-page-items="rows_per_page_items"
              :headers="headers"
              :items="get_policies_control"
              :search="search"

           >
            <template slot="items" slot-scope="props">
               <td> {{ props.item.Name }}</td>
               <td>                
                <v-btn icon class="mx-0"  
                  @click="view_page_policy(props.item._id)">
                  <v-icon color="teal">pageview</v-icon>
                </v-btn>

               </td>
            </template>
            <v-alert slot="no-results" :value="true" color="error" icon="warning">
                 Tu busqueda para "{{ search }}" no tiene resultados.
            </v-alert>

          </v-data-table>             
        </v-card>        
      </v-flex>    
      <v-dialog v-model="dialog_more_detail"
      fullscreen hide-overlay transition="dialog-bottom-transition"
      > 
        <v-card>
          <v-toolbar dark color="teal"  tabs>
            <v-btn icon dark @click.native="dialog_more_detail = false">
              <v-icon>close</v-icon>
            </v-btn>
            <v-toolbar-title dark>Política</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn dark flat @click.native="dialog_more_detail = false"></v-btn>
            </v-toolbar-items>
            <v-tabs
              light
              slot="extension"
              v-model="mytab"
              centered   
              color="teal lighten-5"           
              slider-color="primary"
            >
              <v-tab
               href="#tab-gen"
              >   
              General 
              </v-tab>
              <v-tab   
               href="#tab-gui"
              >               
              Guía  
              </v-tab>
            </v-tabs>
          </v-toolbar>
          <v-tabs-items v-model="mytab">
              <v-tab-item
              id="tab-gen"
              >              
                <v-flex xs10 mt-2 offset-xs1>
                   
                </v-flex>
              </v-tab-item>
              <v-tab-item
              id="tab-gui"
              >              
                Guía
              </v-tab-item>
          </v-tabs-items>
        </v-card>
      </v-dialog>
    </v-layout>    
  </v-container>
</template>
<script>
  import { mapActions } from 'vuex'
  import { mapGetters } from 'vuex'
  import { mapMutations } from 'vuex'

  export default {
    data() {
      return {
        dtr: 'c',
        search: '',
        disable_initial_sort: true,
        rows_per_page_text: "Columnas por página",
        rows_per_page_items: [25,30,35,{"text":"Todos","value":-1}],
        headers: [         
          { text: 'Nombre', value: 'Name' },
          { text: 'Detalles', value: '_id' },
        ],
        mytab: 'tab-gen',
        /*Dialogo para mas detalles*/
        dialog_more_detail: false,
        /* PAYLOAD*/
        payload: []

      }
    },
    methods: {
      view_page_policy (id) {
        this.dialog_more_detail = true
        for (let policy in get_policies_control ) {
            console.log()
        }
        
      }
    },
    computed: {
      ...mapGetters ([
         'get_policies_control'
      ])
    },
    beforeCreate() {      
      let idcontrol = this.$store.getters.get_sel_control      
      this.$store.dispatch('policies', idcontrol)
    }
  } 
</script>