<template>
  <v-app>
    <v-toolbar
      dark
      color="primary"
      app
      :clipped-left="clipped"
    >
      <v-toolbar-title v-text="'openSGSI'"></v-toolbar-title>
    </v-toolbar>
    <v-content class="bk">
      <router-view/>
    </v-content>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      clipped: true,
      drawer: true,
      fixed: false,
      items: [{
        icon: 'bubble_chart',
        title: ''
      }],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'OpenSGSI'
    }
  },
  computed: {
    get_path () {
       var path =  window.location.pathname

       return path
    }
  },
  name: 'App'
}
</script>
<style>
  .bk {
    background-color: #e9ebee;
  }
</style>
